.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
     .form {
        flex-direction: row;
        align-items: baseline;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 768px) {
    .closeBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: 200ms linear;
    }
    .closeBtn:hover,
    .closeBtn:focus {
        transform: rotate(180deg);
        transition: 200ms linear;
    }
}

.title{
    margin: 0 0 35px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 30px;
        line-height: 45px;
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

@media screen and (min-width: 768px) {
    .wrapper {
    width: 100%;
}
}

.type {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;  
    color: #E0E0E0;   
    transition: color 250ms linear;   
}

.plus.active {
    color: #24CCA7;
}

.minus.active {
    color: #FF6596;
}

.switchCus {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .switchCus input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 30px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 44px;
    width: 44px;
    left: -1px;
    bottom: -3px;
    background-color: #24CCA7;
    box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
    background-image: url('../../../images/plus-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: .4s;
    transition: transform 250ms linear, background-color 250ms linear, box-shadow 250ms linear;
}

input:checked + .slider:before {
    background-color: #FF6596;
    box-shadow: 0px 6px 15px rgba(255, 101, 150, 0.5);
    background-image: url('../../../images/minus-icon.svg');
    background-position-y: 53%; 
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(36px);
    transition: transform 250ms linear, background-color 250ms linear,  box-shadow 250ms linear;
}

.selectWrapper,
.dateWrapper {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
}
  
.selectWrapper::after {
    content: '';
    width: 22px;
    height: 22px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-image: url('../../../images/categories-list-icon.svg');
    background-repeat: no-repeat;
    cursor: pointer;
    pointer-events: none;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.inputDate,
.inputAmount,
.commentInput {
    padding: 10px 20px;
    width: 280px;
    min-width: 280px;
    box-sizing: border-box;
    font-family: 'Circe', sans-serif;
    font-size: 18px;
    line-height: 27px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #E0E0E0;
    color: #000;
}


.inputDateWrapper::after {
    content: '';
    width: 22px;
    height: 22px;
    position: absolute;
    bottom: 12px;
    right: 10px;
    background-image: url('../../../images/calendar-icon.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}

.commentLabel {
    margin-bottom: 35px;
}

.inputAmount::-webkit-input-placeholder {
    color: #BDBDBD;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .inputAmount::-webkit-input-placeholder {
        text-align: center;
    }
}
.commentInput {
    display: block;
}

.commentTitle {
    padding-left: 20px;
    font-family: 'Circe', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #BDBDBD;
}

@media screen and (min-width: 768px) {
    .inputAmount,
    .inputDate {
        width: 190px;
        min-width: 0;
    }
    .commentTitle {
        display: none;
    }
    .commentLabel {
    position: relative;
    margin-bottom: 50px;
}
    .commentLabel,
    .commentInput {
    width: 100%;
    }
}

.commentInput::-webkit-input-placeholder {
    color: transparent;
}

@media screen and (min-width: 768px) {
    .commentInput::-webkit-input-placeholder {
        font-family: 'Circe', sans-serif;
        font-size: 18px;
        line-height: 27px;
        color: #BDBDBD;
    }
}

.buttonWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* display: block; */
    max-width: 300px;
    width: 100%;
    height: 50px;
    font-family: 'Circe', sans-serif;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #24CCA7;
    border-radius: 20px;
    border: none;
    transition: 200ms linear;
    transform: scale(1);
}

.disabled {
    background-color: #BDBDBD;
}

.button:hover,
.button:focus {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    transform: scale(1.05);
    transition: 200ms linear;
}

.button.disabled:hover,
.button.disabled:focus {
    box-shadow: none;
    transform: scale(1);
}

.button.white {
    margin-top: 20px;
    color: #4A56E2;
    background-color: #fff;
    border: 1px solid #4A56E2;
}

.error {
    position: absolute;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    font-size: 12px;
    color: red;
}

.inputWrapper {
    position: relative;
    margin-right: 30px;
    margin-bottom: 35px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



