.chart {
  position: relative;

  margin: 0px auto 30px auto;
  max-width: 280px;
}

@media screen and (min-width: 767px) {
  .chart {
    width: 320px;
    margin: 0px 0px 30px 0px;
  }
}

.sum {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 18px;
  line-height: 1.5px;
}
