.currencyConteiner {
  width: 280px;
  height: 174px;
  border-radius: 30px;
  background-color: #4a56e2;
  background-image: url(../../images/currency-back-mob.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  color: #ffffff;

  font-family: Circe;
}

.currencyName {
  display: flex;
  padding: 11px 20px 12px 20px;
  justify-content: space-between;

  background-image: url(../../images/currencyTop.svg);
  background-repeat: no-repeat;
  background-size: cover;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

.currencyList {
  padding: 10px 20px 10px 20px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.currencyItem {
  display: flex;
  justify-content: space-between;
}

.currencyItem:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .currencyConteiner {
    width: 334px;
    height: 174px;

    background-image: url(../../images/currency-back-tabl.svg);
  }
}

@media screen and (min-width: 1280px) {
  .currencyConteiner {
    width: 348px;
    height: 347px;

    background-image: url(../../images/currency-back-desk.svg);
  }

  .currencyName {
    padding: 17px 30px 16px 30px;
  }

  .currencyList {
    padding: 20px 30px 20px 30px;
  }

  .currencyItem:not(:last-child) {
    margin-bottom: 23px;
  }
}
