.btn {
    position: fixed;
    width: 44px;
    height: 44px;
    background-color: #24cca7;
    border: transparent;
    border-radius: 50%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms linear;
}

.btn:hover,
.btn:focus {
    transform: scale(1.1) rotate(180deg);
    transition: 250ms linear;
}

@media screen and (max-width: 767px) {
    .btn {
        bottom: -234px;
        left: 83%;
    }
}

@media screen and (min-width: 768px) {
    .btn {
        position: fixed;
        left: 90%;
        bottom: 17%;
    }
}

@media screen and (min-width: 1281px) {
    .btn {
        position: fixed;
        left: 90%;
        bottom: 17%;
    }
}

.svgComponent {
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    height: 20px;
}