.backgroundWrapper_title {
  display: none;
}

@media screen and (min-width: 768px) {
  .backgroundWrapper_title {
    display: block;
    margin-right: 55px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;
    color: #000000;
  }

  .backgroundWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 540px;
    height: 250px;
    margin-top: 55px;
    margin-bottom: 50px;
    margin-left: 110px;

    background-image: url("../../images/hero.svg");
    background-repeat: no-repeat;
    background-size: 250px;
  }
}

@media screen and (min-width: 1280px) {
  .authBackdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 45%;
    right: 0;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
  }

  .authLoginContainer {
    display: flex;
    width: 1280px;
    align-items: center;
    z-index: 1;
  }

  .backgroundWrapper {
    height: 500px;
    margin: 150px 48px 0px 76px;
    background-image: url("../../images/hero.svg");
    background-repeat: no-repeat;
    background-size: 435px 420px;
    flex-direction: column;
  }
}
