h1,
p {
  margin: 0;
  padding: 0;
}

.mainDivForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 568px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.tooShort {
  display: block;
  height: 1px;
  margin-top: 1px;
  transition: 1s;
  width: 0%;
  border: 1px solid #e5f1ef;
  border-radius: 4px;
}
.short {
  display: block;
  height: 4px;
  margin-top: 1px;
  transition: 1s;
  border-radius: 4px;
  width: 30%;
  border: 3px solid rgba(235, 126, 118);
  background-color: rgba(235, 126, 118);
  box-shadow: 0px 1px 8px rgba(235, 126, 167, 0.5);
}

.middle {
  display: block;
  height: 4px;
  margin-top: 1px;
  transition: 1s;
  border-radius: 4px;
  width: 60%;
  border: 3px solid rgba(255, 220, 143);
  background-color: rgba(255, 220, 143);
  box-shadow: 0px 1px 8px rgba(255, 220, 143, 0.5);
}

.long {
  display: block;
  height: 4px;
  margin-top: 1px;
  transition: 1s;
  border-radius: 4px;
  width: 100%;
  border: 3px solid rgba(36, 204, 167);
  background-color: rgba(36, 204, 167);
  box-shadow: 0px 1px 8px rgba(36, 204, 167, 0.5);
}

.title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 50px;
  color: #000000;
}

.title::before {
  content: url(../../images/wallet.svg);
  margin-right: 15px;
  width: 30px;
  height: 30px;
}

.formLbl {
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.formLbl:not(:last-child) {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.formLbl:last-child {
  margin-bottom: 40px;
}

.inputLbl {
  width: 260px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  font-size: 18px;
  color: #000000;
  height: 50px;
  padding-top: 5px;
  padding-left: 30px;
  margin-left: 35px;
  position: relative;
}

inputLbl:-webkit-autofill,
inputLbl:-webkit-autofill:hover,
inputLbl:-webkit-autofill:focus,
inputLbl:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.mail {
  background-image: url("../../images/email-icon.svg");
  background-repeat: no-repeat;
  height: 16px;
  background-position: left 0.5em bottom 10px;
}

::placeholder {
  font-family: Circe, sans-serif;
  font-weight: 400;
  font-style: 18px;
  line-height: 1.5;
  color: #bdbdbd;
}

.password {
  background-image: url("../../images/password-icon.svg");
  background-repeat: no-repeat;
  height: 16px;
  background-position: left 0.5em bottom 10px;
}

.name {
  background-image: url("../../images/user-icon.svg");
  background-repeat: no-repeat;
  height: 16px;
  background-position: left 0.5em bottom 10px;
}

::placeholder {
  font-family: Circe;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #bdbdbd;
  padding-left: 22px;
}

.btnForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.btnRegister,
.btnLogin {
  display: block;
  width: 280px;
  height: 50px;
  border: none;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: Circe;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.btnRegister {
  background-color: #24cca7;
  color: #ffffff;
  outline: none;
  border-color: transparent;
}

.btnRegister:hover,
.btnRegister:focus {
  font-weight: 700;
  transition: background-color 500ms linear, transform 500ms ease-in-out;
}

.authLink {
  outline: none;
  text-decoration: none;
}

.btnLogin {
  display: flex;
  border: 1px solid #4a56e2;
  background-color: #ffffff;
  color: #4a56e2;
  outline: none;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.btnLogin:hover,
.btnLogin:focus,
.btnLogin:active {
  font-weight: 700;
  border: 2px solid #4a56e2;
  transition: background-color 500ms linear, transform 500ms ease-in-out;
}

.progress {
  width: 100%;
  margin-top: -10px;
  background-color: #e5f1ef;
  height: 4px;
}

.text {
  text-align: right;
}

@media screen and (min-width: 768px) {
  .mainDivForm {
    height: 616px;
    width: 540px;
    margin-left: 114px;
    border-radius: 20px;
  }

  .formLbl {
    margin-right: auto;
    margin-left: auto;
  }
  .inputLbl {
    width: 410px;
  }

  /* .btnRegister,
  .btnLogin {
    margin-bottom: 20px;
  } */

  .name {
    margin-right: 24px;
  }

  .formLbl:last-child {
    margin-bottom: 50px;
  }

  .title::before {
    height: 40px;
    width: 40px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .mainDivForm {
    width: 540px;
    margin-top: 52px;
    margin-left: 95px;
    z-index: 1;
  }
}
